<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Home</h1>

        <span th:text="'Message: ' + ${mydetails}"></span>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>
<script>
    $("#dashboard").attr('class', '');
    $("#profile").attr('class', '');
    $("#home").attr('class', 'active');
    $("#login").attr('class', '');


</script>
</body>
</html>